<div layout="row" layout-align="center center"
     ng-show="timefilter.enabled" class="navbar-right tg-toggle-filter-time-picker">
    <md-menu md-offset="0 45" md-position-mode="target-right target">
        <md-button ng-click="$mdOpenMenu($event)"
                   ng-class="{ 'md-primary' : timefilter.refreshInterval.value === 0 }" aria-label="Auto-refresh">
            <md-icon md-font-set="mdi" md-font-icon="mdi-autorenew" class="mdi-24px"></md-icon>

            <span ng-show="timefilter.refreshInterval.value === 0">OFF</span>

            <span ng-show="timefilter.refreshInterval.value > 0">{{timefilter.refreshInterval.display}}</span>

            <md-tooltip md-direction="bottom">
                <span translate>Auto-update</span>
            </md-tooltip>
        </md-button>

        <md-menu-content width="2">
            <md-menu-item>
                <md-button ng-click="timefilter.refreshInterval.value = 0"
                    ng-disabled="timefilter.refreshInterval.value === 0"
                    class="md-warn">
                    <span translate>OFF</span>
                </md-button>
            </md-menu-item>

            <md-menu-divider></md-menu-divider>

            <md-menu-item ng-repeat="interval in refreshList">
                <md-button ng-click="setRefreshInterval(interval)"
                           ng-disabled="timefilter.refreshInterval.value === interval.value">
                    {{ interval.display }}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <md-button ng-click="pickerTemplate.toggle('filter')" aria-label="Time Range">
      <md-icon md-font-set="mdi" md-font-icon="mdi-clock" class="mdi-24px"></md-icon>

      <span>
        <pretty-duration from="timefilter.time.from" to="timefilter.time.to"></pretty-duration>
      </span>

      <md-tooltip md-direction="bottom">
          <span translate>
              Time range filter
          </span>
      </md-tooltip>
    </md-button>
</div>
