/* Filter in toolbar */

.tg-filter-toolbar-field {
    border-radius: 2px;
    background: rgba(255, 255, 255, .12);
    padding-bottom: 4px;
    padding-top: 4px;
}

.tg-filter-toolbar-field input {
    border-style: none;
    width: 100%;
    height: 40px;
    font-size: 16px;
    background: transparent;
    color: rgba(255, 255, 255, .87);
}

.tg-filter-toolbar-field md-icon {
    padding: 8px;
    margin: 0 6px;
}


/* Place holder */

.tg-filter-toolbar-field input::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
    opacity: .87;
}

.tg-filter-toolbar-field input:-moz-placeholder {
    color: rgb(255, 255, 255);
    opacity: .87;
}

.tg-filter-toolbar-field input::-moz-placeholder {
    color: rgb(255, 255, 255);
    opacity: .87;
}

.tg-filter-toolbar-field input:-ms-input-placeholder {
    color: rgb(255, 255, 255);
    opacity: .87;
}


/* Dashboard name */

.md-toolbar-tools span.name {
    margin-right: 12px;
}

