    <div layout="column" class="vis-editor-agg-editor-ranges">
      <div layout="row" ng-repeat="range in agg.params.ranges track by $index">
        <md-input-container flex>
          <label>From</label>
          <input
            ng-model="range.from"
            validate-date-math
            type="text"
            class="form-control"
            name="range.from" />
        </md-input-container>

        <md-input-container flex>
          <label>To</label>
          <input
            ng-model="range.to"
            validate-date-math
            class="form-control"
            name="range.to" />
        </md-input-container>

        <md-button class="md-icon-button" ng-click="agg.params.ranges.splice($index, 1)" aria-label="Close">
          <md-icon md-font-set="mdi" md-font-icon="mdi-close" class="md-warn mdi-12px">
          </md-icon>
        </md-button>
      </div>
    </div>

    <div class="tg-hint-input" ng-show="agg.params.ranges.length">
      <md-button href="http://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-date-format.html#date-math"
                 target="_blank" class="md-primary" aria-label="Accepted Date Formats">
        <span>Accepted Date Formats</span>

        <md-icon md-font-set="mdi" md-font-icon="mdi-launch" class="mdi-12px">
        </md-icon>
      </md-button>
    </div>

    <input ng-model="agg.params.ranges.length" name="rangeLength" required min="1" type="number" class="ng-hide" />

    <md-whiteframe ng-show="aggForm.rangeLength.$invalid"
        class="md-whiteframe-1dp" flex layout="column" layout-align="center center">
      <span>
        <i class="mdi mdi-alert-circle text-danger"></i>
        <strong>Required:</strong> You must specify at least one range.
      </span>
    </md-whiteframe>

    <div layout="row" class="md-body-1" layout-align="center center">
      <md-button ng-click="agg.params.ranges.push({})"
                 class="md-primary md-raised" aria-label="Add Range">
          <span>Add Range</span>
      </md-button>
    </div>

