<div ng-if="aggParam.shouldShow(agg)">
  <div>
    <label>Extended Bounds</label>
  </div>

  <div layout="row">
    <md-input-container flex="50">
      <label>Min (optional)</label>
      <input
        ng-model="agg.params.extended_bounds.min"
        type="number"
        class="form-control"
        name="extended_bounds.min" />
    </md-input-container>

    <md-input-container flex="50">
      <label>Max (optional)</label>
      <input
        ng-model="agg.params.extended_bounds.max"
        type="number"
        class="form-control"
        name="extended_bounds.max" />
    </md-input-container>
  </div>

  <div class="tg-hint-input">
    <md-icon ng-click="showHint = !showHint"
      md-font-set="mdi" md-font-icon="mdi-information" class="mdi-12px">
    </md-icon>

    <md-whiteframe ng-show="showHint" class="md-whiteframe-1dp" flex layout layout-align="center center">
      <span>
        "Min and Max do not filter the results, but rather extend the bounds of the result set."
      </span>
    </md-whiteframe>
  </div>
</div>
