<div ng-repeat="filter in agg.params.filters">
  <div layout="row">
    <md-input-container flex>
      <label>
          Filter {{$index + 1}}
          <span ng-if="filter.label">- {{ filter.label }}</span>
      </label>

      <input
        parse-query
        ng-model="filter.input.query"
        type="text"
        class="form-control"
        name="filter{{$index}}">
    </md-input-container>

    <md-button class="md-icon-button" ng-click="agg.params.filters.splice($index, 1)" aria-label="Close">
      <md-icon md-font-set="mdi" md-font-icon="mdi-close" class="md-warn mdi-12px">
      </md-icon>
    </md-button>
  </div>

  <md-input-container class="md-block" ng-show="showConfig" flex>
      <label>Filter {{$index + 1}} label</label>
      <input
        ng-model="filter.label"
        placeholder="Label"
        type="text"
        class="form-control"
        name="label{{$index}}">
  </md-input-container>

  <div class="tg-hint-input" layout="row" layout-align="center center">
    <md-button ng-click="showConfig = !showConfig" class="md-primary" aria-label="Edit Label">
      <span>Edit label</span>
    </md-button>
  </div>
</div>

<input ng-model="agg.params.filters.length" name="filterLength" required min="1" type="number" class="ng-hide" />

<md-whiteframe ng-show="aggForm.filterLength.$invalid"
    class="md-whiteframe-1dp" flex layout="column" layout-align="center center">
  <span>
    <i class="mdi mdi-alert-circle text-danger"></i>
    <strong>Required:</strong> You must specify at least one filter.
  </span>
</md-whiteframe>

<div layout="row" class="md-body-1" layout-align="center center">
  <md-button ng-click="agg.params.filters.push({input:{}})"
             class="md-primary md-raised" aria-label="Add Filter">
      <span>Add Filter</span>
  </md-button>
</div>
