<div>
  <div layout="row" class="md-body-1" layout-align="center center">
      <md-button ng-click="agg.params.ipRangeType = 'fromTo'"
             ng-show="agg.params.ipRangeType == 'mask'" class="md-primary" aria-label="Use From/To">
        <span>Use From/To</span>
      </md-button>

      <md-button ng-click="agg.params.ipRangeType = 'mask'"
           ng-show="agg.params.ipRangeType != 'mask'" class="md-primary" aria-label="Use CIDR Masks">
        <span>Use CIDR Masks</span>
      </md-button>
  </div>

  <div ng-show="agg.params.ipRangeType != 'mask'" layout="column">
    <div layout="row" ng-repeat="range in agg.params.ranges.fromTo track by $index">
      <md-input-container flex>
        <label>From</label>

        <input
          validate-ip
          ng-model="range.from"
          type="text"
          class="form-control"
          name="range.from" />
      </md-input-container>

      <md-input-container flex>
        <label>To</label>

        <input
          validate-ip
          ng-model="range.to"
          class="form-control"
          name="range.to" />
      </md-input-container>

      <md-button class="md-icon-button" ng-click="agg.params.ranges.fromTo.splice($index, 1)"
                 aria-label="Close">
        <md-icon md-font-set="mdi" md-font-icon="mdi-close" class="md-warn mdi-12px">
        </md-icon>
      </md-button>
    </div>

    <input ng-if="agg.params.ipRangeType != 'mask'" ng-model="agg.params.ranges.fromTo.length" name="rangeLength" required min="1" type="number" class="ng-hide" />

    <md-whiteframe ng-show="aggForm.rangeLength.$invalid"
        class="md-whiteframe-1dp" flex layout="column" layout-align="center center">
      <span>
        <i class="mdi mdi-alert-circle text-danger"></i>
        <strong>Required:</strong> You must specify at least one range.
      </span>
    </md-whiteframe>

    <div layout="row" class="md-body-1" layout-align="center center">
      <md-button ng-click="agg.params.ranges.fromTo.push({})"
                 class="md-primary md-raised" aria-label="Add Range">
          <span>Add Range</span>
      </md-button>
    </div>
  </div>

  <div ng-show="agg.params.ipRangeType == 'mask'" layout="column">
    <div layout="row" ng-repeat="range in agg.params.ranges.mask track by $index">
      <md-input-container flex>
        <label>Mask</label>

        <input
          validate-cidr-mask
          ng-model="range.mask"
          type="text"
          class="form-control"
          name="range.from" />
      </md-input-container>

      <md-button class="md-icon-button" ng-click="agg.params.ranges.mask.splice($index, 1)" aria-label="Close">
        <md-icon md-font-set="mdi" md-font-icon="mdi-close" class="md-warn mdi-12px">
        </md-icon>
      </md-button>
    </div>

    <input ng-if="agg.params.ipRangeType == 'mask'" ng-model="agg.params.ranges.mask.length" name="rangeLength" required min="1" type="number" class="ng-hide" />

    <md-whiteframe ng-show="aggForm.rangeLength.$invalid"
        class="md-whiteframe-1dp" flex layout="column" layout-align="center center">
      <span>
        <i class="mdi mdi-alert-circle text-danger"></i>
        <strong>Required:</strong> You must specify at least one range.
      </span>
    </md-whiteframe>

    <div layout="row" class="md-body-1" layout-align="center center">
      <md-button ng-click="agg.params.ranges.mask.push({})"
                 class="md-primary md-raised" aria-label="Add Range">
          <span>Add Range</span>
      </md-button>
    </div>
  </div>
</div>
