<div ng-controller="aggParam.controller">
  <md-input-container class="md-block">
    <label>Order By</label>
    <md-select
      name="orderBy"
      ng-model="agg.params.orderBy"
      required>
      <md-option
        ng-repeat="respAgg in responseValueAggs track by respAgg.id"
        value="{{respAgg.id}}"
        ng-selected="agg.params.orderBy === respAgg.id">
        metric: {{safeMakeLabel(respAgg)}}
      </md-option>
      <md-option value="custom" ng-selected="agg.params.orderBy === 'custom'">
        Custom Metric
      </md-option>
       <md-option value="_term" ng-selected="agg.params.orderBy === '_term'">
        Term
      </md-option>
    </md-select>
  </md-input-container>


  <div ng-show="agg.params.orderAgg" class="vis-editor-agg-order-agg">
    <vis-editor-agg-params
      agg="agg.params.orderAgg"
      ng-if="agg.params.orderAgg"
      group-name="'metrics'">
    </vis-editor-agg-params>
  </div>
</div>
