<div class="vis-editor-agg-form-row" layout="row">
  <md-input-container ng-if="agg.type.params.byName.order" flex="50">
    <label>Order</label>
    <md-select
      name="order"
      ng-model="agg.params.order"
      required>
      <md-option ng-repeat="opt in aggParam.options" ng-value="opt">
        {{opt.display}}
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container flex>
    <label>Size</label>
    <input
      name="size"
      ng-model="agg.params.size"
      required
      class="form-control"
      type="number"
      min="0">
  </md-input-container>
</div>
