<div ng-if="!aggParam.disabled(agg)">
  <md-input-container class="md-block regex">
    <label>{{ aggParam.name | label }} Pattern</label>

    <input
      type="text"
      class="form-control"
      ng-model="agg.params[aggParam.name].pattern">
  </md-input-container>

  <div class="regex">
    <md-input-container class="md-block flags">
      <label>{{ aggParam.name | label }} Pattern Flags</label>

      <md-select multiple ng-model="agg.params[aggParam.name].flags">
        <md-option ng-repeat="label in aggParam.flags" ng-value="label">
          {{label}}
        </md-option>
      </md-select>
    </md-input-container>

    <div class="tg-hint-select">
      <md-button href="http://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html#field_detail"
                 target="_blank" class="md-primary" aria-label="Reference">
        <span>Reference</span>

        <md-icon md-font-set="mdi" md-font-icon="mdi-launch" class="mdi-12px">
        </md-icon>
      </md-button>
    </div>
  </div>
</div>
